.idea
.serverless
ts-files.txt
.arn-mfa*
.DS_Store

*.js
!lambda.js
!jest.config*
!sidebars.js
!docusaurus.config.js
lib/**/*.js 
*.test.js

node_modules
package-lock.json
bin/*.js
**/*.d.ts

# Parcel build directories
.cache
.build

# Testing
.npmrc
**/__snapshots__/

dist

coverage/
.vscode/
.docusaurus/
ci
tsconfig.tsbuildinfo

build/
